// Colores base
$primary: #083550;      // Azul marino profundo
$secondary: #3CA292;    // Verde azulado
$success: #4EBE95;      // Verde Menta

// Colores del sistema
$info:          #219EBC; // Azul cielo (Para información)
$warning:       #FFB703; // Ámbar
$danger:        #E76F51; // Terracota
$light:         #faf6f6; // Fondo principal #F7F9FB
$dark:          #121c20; // Texto muy oscuro (casi negro) #1D2D35

// Fondo personalizado
$body-bg: $light;
$fondo-secundario: #ECF8F8;

@font-face {
    font-family: 'Roboto';
    src: url('../../assets/fonts/Roboto-VariableFont_wdth\,wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Alexandria';
    src: url('../../assets/fonts/Alexandria-VariableFont_wght.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

// Tipos de fuentes
$font-roboto: 'Roboto';
$font-alexandria: 'Alexandria';

$font-family-base: $font-roboto;

$headings-font-family: $font-alexandria;
$headings-font-weight: 700;
